.button {
  padding: 5px;
  border-radius: 5px;
  transition: 0.1s;
  filter: brightness(100%);
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  text-decoration: none;
  box-shadow: none !important;
}

.button:hover {
  text-decoration: none;
}


.btn-blue {
  background-color: #0070f3;
  color: white !important;
  transition: 0.2s;
  border-color: #0070f3;
}
.btn-blue:focus{
  color:white;
}

.btn-blue:hover {
  background-color: #fffffe !important;
  color: #0070f3 !important;
}

.btn-blue:focus {
  background-color: #fffffe !important;
  color: #0070f3 !important;
}

.btn-green {
  background-color: #03a33e;
  color: white !important;
  transition: 0.2s;
  border-color: #03a33e;
}
.btn-green:focus{
  color:white;
}

.btn-green:hover {
  background-color: #fffffe !important;
  color: #03a33e !important;
}

.btn-green:focus {
  background-color: #fffffe !important;
  color: #03a33e !important;
}

@media (prefers-color-scheme: light) {
body {
  background-color: #fffffe;
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  text-align: left;
  display: grid;
  grid-gap: 10px;
  padding: 0px !important;
  margin-right: 0px;

}
.navbar-brand{
  color:black !important;
}

 }

@media (prefers-color-scheme: dark) {
  body {
    padding: 10px;
    background-color: #0f0f0f;
    overflow-x: hidden;
    overflow-y: visible;
    max-width: 100vw;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: left;
    display: grid;
    grid-gap: 10px;
  }
  .navbar{
    background-color: black !important;
    color:white !important;
  }
}
