
@media (prefers-color-scheme: light) {
body {
  background-color: #fffffe;
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  text-align: left;
  display: grid;
  grid-gap: 10px;
  padding: 0px !important;
  margin-right: 0px;
}

 }

@media (prefers-color-scheme: dark) {
  body {
    padding: 10px;
    background-color: #0f0f0f;
    overflow-x: hidden;
    overflow-y: visible;
    max-width: 100vw;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: left;
    display: grid;
    grid-gap: 10px;
  }
  .card{
    outline: none;
    border: none;
  }
  .card-body{
    background-color: #333;
  }
  .card-header{
    background-color: #444;
  }
}
