{% extends "base.html" %} {% block content %}

<div class="container" style="margin-top: 20px;">
    {% if token != None and username != None %}
    <div class="alert alert-success">
        You have successfully logged in as <a href="https://github.com/{{username}}">@{{username}}</a>. Your API token is
        {{token}}
    </div>
    {% endif %}
    <h1>Docs</h1>
    <hr />
    <h3>Getting Started</h3>
    <p>
        Riposi's goal is making github showcasing easy. This documentation will
        show you how to embed your GitHub information into your personal
        website.
    </p>
    <h3>Embedding</h3>
    {% if token != None %}
    <p>
        Since you have associated your GitHub account, you can simply
        embed
        <code>&ltiframe src="{{hostname}}/widget/{{username}}?token={{token}}"
            onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
            style="width:100%;border:none;overflow:hidden;"&gt&lt/iframe&gt
        </code>
        on your website to display your widget and also auto resize to fit. This is what it looks like:
    </p>
    <div>
        <iframe
            src="{{hostname}}/widget/{{username}}?token={{token}}"
            onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="width:100%;border:none;overflow:hidden;"
        ></iframe>
    </div>
    <p>
        The iframe may not fit though, and in that case you could add a bit of javascript to automatically  
    </p>
    <p>
        If you want, you can also directly use <code>{{hostname}}/widget/{{username}}?token={{token}}</code> and include it however you want.
    </p>

    {% else %}
    
    
    <p>
        First things first, you need to associate your GitHub account. This is
        done for security purposes to make sure we are embedding
        <b>your</b> GitHub repositories.
    </p>
    <p>
        To associate your GitHub account, click on this button: 
    </p>
    <a class="btn btn-dark" href="/signup">
        <p style="vertical-align:center;margin-bottom:0px;">
            Sign in with Github &ensp;
            <img src="/static/GitHub.png" style="margin-top:-3px;" width="20" height="20"></img>
        </p>
    </a>
    <p>
        After associating, this page will change with the instructions to embed your repositories.
    </p>
    {% endif %}
</div>
{% endblock %}
